<!-- NAVBAR -->
<div class="navbar-wrapper">
  <div class="container">
    <ul id="usernav" class="nav">
      <li><a href="/blog">Blog</a></li>
      <li class="last"><a href="https://github.com/ardrobot/ardrobot.github.com/wiki">Wiki</a></li>
    </ul>
    
    <div id="nav" class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/#intro">Ardrobot</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="/#About">About</a></li>
            <li><a href="/#Robots">Robots</a></li>
            <li><a href="/#Get-Involved">Get Involved</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
